.centered {
  background-color: transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("https://cdn.discordapp.com/attachments/938570207859970061/988947393410134116/thumb-1920-938936.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 1rem;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-form {
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  color: black;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;
  margin: 0 auto;
}

label {
  color: black;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgray;
  /* text-align: center; */
}

.review-button {
  background-color: transparent;
  border: 1px solid rgb(143, 143, 143);
  background-image: linear-gradient(
    90deg,
    rgba(146, 127, 191, 0.1),
    rgba(79, 59, 120, 0.1)
  );
  background-size: 0% 100rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: inline-block;
  transition: all 900ms ease;
  width: 400px;
}

.review-button:hover {
  background-size: 100% 100rem;
}

.go-back-btn {
  align-self: center;
  width: 600px;
  height: 45px;
  color: white;
  background-color: #827397;
  border: 0;
  transition: all 200ms ease-in-out;
}

.go-back-btn:hover {
  opacity: 0.8;
}

.submit-btn {
  align-self: center;
  width: 75%;
  height: 45px;
  color: rgb(0, 0, 0);
  background-color: #c4bbf0;
  border: 0;
  transition: all 200ms ease-in-out;
}

.submit-btn:hover {
  opacity: 0.8;
}

.spotify-link {
  background-color: #1ed760;
  border-radius: 2rem;
  box-shadow: 0 0 10px lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  height: 50px;
  align-self: center;
  padding: 1rem;
  margin: 20px;
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(
    90deg,
    rgba(51, 6, 156, 0.4),
    rgba(72, 0, 216, 0.2)
  );
  background-size: 0% 100rem;
  background-repeat: no-repeat;
  background-position: left;
}

.spotify-link:hover {
  opacity: 0.8;
  color: white;
  animation-name: spotify-btn-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  background-size: 100% 100rem;
}

@keyframes spotify-btn-hover {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(0px, -5px);
  }

  100% {
    transform: translate(0px);
  }
}
